            </div>

            <div class="col-{{proyecto.numerocolumnamedioderecha}}" style="
            height: {{proyecto.altocolumnamedioderecha}}px;
            background-color: {{proyecto.colorcolumnamedioderecha}};
            {% if proyecto.cenborde %}border: {{proyecto.cenanchoborde}}pt solid {{proyecto.cencolorborde}}; {% endif %}
            ">
              
            </div>
          </div>

          <!-- Pie -->
          <div class="row mt-{{proyecto.separacionsecciones}}" style="
              height: {{proyecto.altofilapie}}px;
            background-color: {{proyecto.colorfilapie}};
            ">
            <div class="col-12" style="
            height: {{proyecto.altocolumnapie}}px;
            background-color: {{proyecto.colorcolumnapie}};
            ">
              
            </div>

          </div>


        </div>

