                    {% load static %}
                    <a href="#texto" data-toggle="collapse" role="button" aria-expanded="false"  aria-controls="bloque1" class="ml-3 controles-label">Etiquetas de analisis de texto</a>
                  
                    <div class="collapse " id="texto">
                      <div class="card card-body " style="background: #f1ead7; border:none;">
                        <span class="controles-control"></span>
												<div class="container " style="padding: 10px; border: 1pt solid lightgray;">
													{% for etiqueta in etiquetas %}
														{% if etiqueta.2 == 'e' %}
															<div class="row">
																<input id="insert" type="button" value="[{{etiqueta.0}}]"/>
																<div class="col-10 texto_procesotexto">{{etiqueta.1}}</div>
															</div>
														{% endif %}
													{% endfor %}
												</div>
                      </div>
                    </div>
