<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row mt-5 mb-4">
          <div class="col-12">
            <span class="controles-texto-grupo">Datos Generales</span>
          </div>
        </div>
        <div class="row " >
          <div class="col controles-label">Nombre del reporte</div>
        </div>
        <div class="row mb-4">
          <div class="col-12 controles_control">
            {{form.nombre}}
          </div>
        </div>
        <div class="row " >
          <div class="col controles-label">Texto con formato</div>
        </div>
        <div class="row mb-4">
          <div class="col-12 controles_control">
            {{form.texto}}
          </div>
        </div>
        <!-- <div class="row " >
          <div class="col controles-label">Texto para proceso</div>
        </div>
        <div class="row mb-4">
          <div class="col controles_control">
            {{form.textoobjetos}}
          </div>
        </div> -->
      </div>
    </div>
  </div>