            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="row mt-5 mb-4">
                    <div class="col">
                      <span class="controles-texto-grupo">Datos Generales</span>
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col-12 controles-label">Titulo del Texto</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.titulo}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col-12 controles-label">Texto</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col-12 controles_control">
                      {{form.texto_texto}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
