            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="row mt-5 mb-4">
                    <div class="col">
                      <span class="controles-texto-grupo">Datos de cada fila</span>
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Nombre</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.nombre}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Primer color</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.color1}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Segundo color</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.color2}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Degradado</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.degradado}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Altura (%)</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.altura}}
                    </div>
                  </div>
                  <div class="row mb-4" >
                    <div class="col-10 controles-label ">Con borde:</div>
                    <div class="col controles_control">
                      {{form.borde}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
