            <div class="container">
              <div class="row">
                <div class="col-6">
                  <div class="row mt-5 mb-4">
                    <div class="col">
                      <span class="controles-texto-grupo">Datos Generales</span>
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Nombre de la Propiedad</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.nombre}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Descripcion de la Propiedad</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.descripcion}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Tipo de la Propiedad</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.tipo}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Corresponde a una llave foranea</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.foranea}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Texto de Radio Buttons</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.textobotones}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Valor inicial</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.valorinicial}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Longitud del string</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.largostring}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Texto place holder</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.textoplaceholder}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Etiqueta</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.etiqueta}}
                    </div>
                  </div>
                  <div class="row  mb-4" >
                    <div class="col-10 controles-label ">La Propiedad es mandatoria:</div>
                    <div class="col controles_control">
                      {{form.mandatoria}}
                    </div>
                  </div>
                  <div class="row  mb-4" >
                    <div class="col-10 controles-label ">La Propiedad identifica al modelo:</div>
                    <div class="col controles_control">
                      {{form.paraidentificar}}
                    </div>
                  </div>
                  <div class="row  mb-4" >
                    <div class="col-10 controles-label ">La Propiedad identifica al modelo que se borra:</div>
                    <div class="col controles_control">
                      {{form.paraborrar}}
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row mt-5 mb-4">
                    <div class="col">
                      <span class="controles-texto-grupo">Propiedades en lista</span>
                    </div>
                  </div>
                  <div class="row  mb-4" >
                    <div class="col-10 controles-label ">La Propiedad se despliega en la lista:</div>
                    <div class="col controles_control">
                      {{form.enlista}}
                    </div>
                  </div>
                  <div class="row  mb-4" >
                    <div class="col-10 controles-label ">La Propiedad es un link de edicion:</div>
                    <div class="col controles_control">
                      {{form.linkparaedicion}}
                    </div>
                  </div>
                  <div class="row  mb-4" >
                    <div class="col-10 controles-label ">La Propiedad se despliega en mobiles:</div>
                    <div class="col controles_control">
                      {{form.enmobile}}
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col controles-label ">Numero de secciones en la lista</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.numerocolumnas}}
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col controles-label ">Texto en la columna</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.textocolumna}}
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col controles-label ">Justificacion de la columna</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.justificaciontextocolumna}}
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col controles-label ">Formato de la fecha</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.formatofecha}}
                    </div>
                  </div>
                  <div class="row  mb-4" >
                    <div class="col-10 controles-label ">La etiqueta esta arriba:</div>
                    <div class="col controles_control">
                      {{form.etiquetaarriba}}
                    </div>
                  </div>
                  <div class="row  mb-4" >
                    <div class="col-10 controles-label ">La propiedad no aparece en el formulario:</div>
                    <div class="col controles_control">
                      {{form.noestaenformulario}}
                    </div>
                  </div>
                  <div class="row  mb-4" >
                    <div class="col-10 controles-label ">La propiedad participa en la busqueda de lista:</div>
                    <div class="col controles_control">
                      {{form.participabusquedalista}}
                    </div>
                  </div>
                  <div class="row  mb-4" >
                    <div class="col-10 controles-label ">La propiedad se incluye para dash:</div>
                    <div class="col controles_control">
                      {{form.dashboard}}
                    </div>
                  </div>
                  <div class="row  mb-4" >
                    <div class="col-10 controles-label ">La propiedad se totaliza:</div>
                    <div class="col controles_control">
                      {{form.totaliza}}
                    </div>
                  </div>
                  <!-- <div class="row  mb-4" >
                    <div class="col-10 controles-label ">Corte de control:</div>
                    <div class="col controles_control">
                      {{form.paratotalizar}}
                    </div>
                  </div> -->
                  <div class="row  mb-4" >
                    <div class="col-10 controles-label ">La propiedad aparece en el reporte:</div>
                    <div class="col controles_control">
                      {{form.enreporte}}
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col controles-label ">Ancho en el reporte (cm)</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.anchoenreporte}}
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col controles-label ">Justificacion horizontal</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.alineacion}}
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col controles-label ">Propiedad para corte de control</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.propiedadtotaliza}}
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col controles-label ">Intervalo para random</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.randomfill}}
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col controles-label ">Prefijo para fill</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.prefijofill}}
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col controles-label ">Numero de valores para elegir</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.valoreselegir}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
