            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="row mt-4 mb-4">
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Codigo</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col " style="font-size: 8pt;">
                      {{form.codigo}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
