            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="row mt-5 mb-4">
                    <div class="col">
                      <span class="controles-texto-grupo">{{orientacion}} - {{size}}</span>
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Posicion vertical de la primera linea</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.primeralinea}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Numero maximo de lineas por pagina</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.maxlineas}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Ancho del logo para reporte</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.anchologo}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Altura del logo para reporte</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.altologo}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Posicion horizontal del logo</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.posxlogo}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Posicion vertical del logo</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.posylogo}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Posicion horizontal del nombre</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.posxnombre}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Posicion vertical del nombre</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.posynombre}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Posicion inicial horizontal linea encabezado</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.iniciolineax}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Posicion final horizontal linea encabezado</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.finallineax}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Posicion vertical linea encabezado</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.iniciolineay}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Grosor linea encabezado</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.grosorlinea}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Posicion horizontal del numero de pagina</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.piex}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Posicion vertical del numero de pagina</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.piey}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Posicion horizontal linea pie</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.lineapiex}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Posicion vertical linea pie</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.lineapiey}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
