            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="row mt-5 mb-4">
                    <div class="col">
                      <span class="controles-texto-grupo">Datos Generales</span>
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Mensaje de error</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.mensaje}}
                    </div>
                  </div>
                  <div class="row " >
                    <div class="col controles-label">Codigo de la regla</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col controles_control">
                      {{form.codigo}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
