  <style>
  .mensaje_error{
  font-size: 18pt;
  color:red;
  font-weight: 600;
}

  </style>
  <div class="container registro">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-10 externa border ">
        <div class="row fila-color-uno"></div>
        <div class="row fila-color-dos"></div>
        <div class="row fila-datos">
          <div class="col datos-registration border">
            <div class="row">
              <div class="col">
                <h3>Mensaje de Error</h3>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <span class="mensaje_error" >{{error}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
