{% load static %}

				<div class="row " style="height: 33%; justify-content:center;">
					<a class="farriba"  id="farriba" href="" style="display:flex; align-items: flex-start;">
						<img class="fiarriba" src="{% static 'core/img/arribapequeSF.png' %}" alt="">
					</a>
				</div>
				<div class="row " style="height: 33%">
					<div class="col-6  pl-0" style="display: flex;align-items: center;">
						<a class="fizquierda" id="fizquierda" href="" style="display: flex; justify-content:flex-start;">
							<img class="fiizquierda" src="{% static 'core/img/izquierdapequeSF.png' %}" alt="">
						</a>
					</div>
					<div class="col-6 pr-0" style="display: flex;align-items: center; justify-content: flex-end;" >
						<a class="fderecha" id="fderecha" href="" style="display: flex;align-items: center;" >
							<img class="fiderecha" src="{% static 'core/img/derechapequeSF.png' %}" alt="">
						</a>
					</div>
				</div>
				<div class="row  pb-0" style="height: 33%; display: flex; justify-content: center; align-items: flex-end;">
					<a type="button" class="fabajo" id='fabajo' name="fabajo" href="" style="display: flex;align-items: flex-end;" >
						<img class="fiabajo" src="{% static 'core/img/abajopequeSF.png' %}" alt="">
					</a>
					<a type="button" class="faarriba" id='faarriba' name="faarriba" href="" style="display: flex;align-items: flex-end;" >
						<img class="fiiarriba" src="{% static 'core/img/arribapequeSF.png' %}" alt="">
					</a>
				</div>
