{% load static %}

				<div class="row " style="height: 33%; justify-content:center;">
				</div>
				<div class="row " style="height: 33%">
					<div class="col-6  pl-0" style="display: flex;align-items: center;">
						<a class="fmizquierda" id="fmizquierda" href="" style="display: flex; justify-content:flex-start;">
							<img class="fimizquierda" src="{% static 'core/img/izquierdapequeSF.png' %}" alt="">
						</a>
					</div>
					<div class="col-6 pr-0" style="display: flex;align-items: center; justify-content: flex-end;" >
						<a class="fmderecha" id="fmderecha" href="" style="display: flex;align-items: center;" >
							<img class="fimderecha" src="{% static 'core/img/derechapequeSF.png' %}" alt="">
						</a>
					</div>
				</div>
				<div class="row  pb-0" style="height: 33%; display: flex; justify-content: center; align-items: flex-end;">
				</div>
