
.icon-search:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-star-empty:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-users:before { content: '\e805'; } /* '' */
.icon-picture:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-ok-circled:before { content: '\e808'; } /* '' */
.icon-ok-circled2:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-cancel-circled:before { content: '\e80b'; } /* '' */
.icon-cancel-circled2:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-plus-circled:before { content: '\e80e'; } /* '' */
.icon-lock:before { content: '\e80f'; } /* '' */
.icon-lock-open:before { content: '\e810'; } /* '' */
.icon-thumbs-up:before { content: '\e811'; } /* '' */
.icon-thumbs-down:before { content: '\e812'; } /* '' */
.icon-forward:before { content: '\e813'; } /* '' */
.icon-print:before { content: '\e814'; } /* '' */
.icon-bell:before { content: '\e815'; } /* '' */
.icon-location:before { content: '\e816'; } /* '' */
.icon-trash-empty:before { content: '\e817'; } /* '' */
.icon-doc:before { content: '\e818'; } /* '' */
.icon-cog:before { content: '\e819'; } /* '' */
.icon-wrench:before { content: '\e81a'; } /* '' */
.icon-cog-alt:before { content: '\e81b'; } /* '' */
.icon-basket:before { content: '\e81c'; } /* '' */
.icon-zoom-in:before { content: '\e81d'; } /* '' */
.icon-zoom-out:before { content: '\e81e'; } /* '' */
.icon-left-open:before { content: '\e81f'; } /* '' */
.icon-right-open:before { content: '\e820'; } /* '' */
.icon-left-dir:before { content: '\e821'; } /* '' */
.icon-right-dir:before { content: '\e822'; } /* '' */
.icon-left-big:before { content: '\e823'; } /* '' */
.icon-right-big:before { content: '\e824'; } /* '' */
.icon-right-hand:before { content: '\e825'; } /* '' */
.icon-left-hand:before { content: '\e826'; } /* '' */
.icon-up-hand:before { content: '\e827'; } /* '' */
.icon-down-hand:before { content: '\e828'; } /* '' */
.icon-play:before { content: '\e829'; } /* '' */
.icon-stop:before { content: '\e82a'; } /* '' */
.icon-pause:before { content: '\e82b'; } /* '' */
.icon-to-end:before { content: '\e82c'; } /* '' */
.icon-to-end-alt:before { content: '\e82d'; } /* '' */
.icon-to-start:before { content: '\e82e'; } /* '' */
.icon-flight:before { content: '\e82f'; } /* '' */
.icon-scissors:before { content: '\e830'; } /* '' */
.icon-book:before { content: '\e831'; } /* '' */
.icon-search-1:before { content: '\e832'; } /* '' */
.icon-mail-1:before { content: '\e833'; } /* '' */
.icon-user-1:before { content: '\e834'; } /* '' */
.icon-users-1:before { content: '\e835'; } /* '' */
.icon-user-add:before { content: '\e836'; } /* '' */
.icon-trash-1:before { content: '\e837'; } /* '' */
.icon-book-1:before { content: '\e838'; } /* '' */
.icon-trophy:before { content: '\e839'; } /* '' */
.icon-chart-bar:before { content: '\e83a'; } /* '' */
.icon-graduation-cap-1:before { content: '\e83b'; } /* '' */
.icon-database-1:before { content: '\e83c'; } /* '' */
.icon-ok-outline:before { content: '\e83d'; } /* '' */
.icon-ok-1:before { content: '\e83e'; } /* '' */
.icon-pen:before { content: '\e83f'; } /* '' */
.icon-pencil:before { content: '\e840'; } /* '' */
.icon-edit:before { content: '\e841'; } /* '' */
.icon-download-outline:before { content: '\e842'; } /* '' */
.icon-download:before { content: '\e843'; } /* '' */
.icon-upload-outline:before { content: '\e844'; } /* '' */
.icon-upload:before { content: '\e845'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e846'; } /* '' */
.icon-upload-cloud:before { content: '\e847'; } /* '' */
.icon-basket-1:before { content: '\e848'; } /* '' */
.icon-cog-outline:before { content: '\e849'; } /* '' */
.icon-rss:before { content: '\e84a'; } /* '' */
.icon-lightbulb:before { content: '\e84b'; } /* '' */
.icon-stopwatch:before { content: '\e84c'; } /* '' */
.icon-wristwatch:before { content: '\e84d'; } /* '' */
.icon-clock:before { content: '\e84e'; } /* '' */
.icon-volume-high:before { content: '\e84f'; } /* '' */
.icon-volume-middle:before { content: '\e850'; } /* '' */
.icon-volume-low:before { content: '\e851'; } /* '' */
.icon-volume-off:before { content: '\e852'; } /* '' */
.icon-globe-alt-outline:before { content: '\e853'; } /* '' */
.icon-globe-alt:before { content: '\e854'; } /* '' */
.icon-sun-1:before { content: '\e855'; } /* '' */
.icon-sun-filled:before { content: '\e856'; } /* '' */
.icon-cloud:before { content: '\e857'; } /* '' */
.icon-flash-outline:before { content: '\e858'; } /* '' */
.icon-flash:before { content: '\e859'; } /* '' */
.icon-trash-empty-1:before { content: '\e85a'; } /* '' */
.icon-trash-2:before { content: '\e85b'; } /* '' */
.icon-wrench-1:before { content: '\e85c'; } /* '' */
.icon-book-2:before { content: '\e85d'; } /* '' */
.icon-github-circled:before { content: '\e85e'; } /* '' */
.icon-buffer:before { content: '\e85f'; } /* '' */
.icon-stackoverflow:before { content: '\e860'; } /* '' */
.icon-trash-3:before { content: '\e861'; } /* '' */
.icon-doc-new:before { content: '\e862'; } /* '' */
.icon-edit-1:before { content: '\e863'; } /* '' */
.icon-cog-1:before { content: '\e864'; } /* '' */
.icon-signal:before { content: '\e865'; } /* '' */
.icon-font:before { content: '\e866'; } /* '' */
.icon-fontsize:before { content: '\e867'; } /* '' */
.icon-cog-2:before { content: '\e868'; } /* '' */
.icon-arrows-cw:before { content: '\e869'; } /* '' */
.icon-picture-1:before { content: '\e86a'; } /* '' */
.icon-plus-1:before { content: '\e86b'; } /* '' */
.icon-plus-circle:before { content: '\e86c'; } /* '' */
.icon-minus:before { content: '\e86d'; } /* '' */
.icon-minus-circle:before { content: '\e86e'; } /* '' */
.icon-plus-circled-1:before { content: '\e86f'; } /* '' */
.icon-plus-squared-1:before { content: '\e870'; } /* '' */
.icon-download-1:before { content: '\e871'; } /* '' */
.icon-upload-1:before { content: '\e872'; } /* '' */
.icon-logout:before { content: '\e873'; } /* '' */
.icon-logout-2:before { content: '\e874'; } /* '' */
.icon-login:before { content: '\e875'; } /* '' */
.icon-login-2:before { content: '\e876'; } /* '' */
.icon-login-1:before { content: '\f02c'; } /* '' */
.icon-logout-1:before { content: '\f02d'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-lightbulb-1:before { content: '\f0eb'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-eraser:before { content: '\f12d'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-cart-arrow-down:before { content: '\f218'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-hourglass-1:before { content: '\f251'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */
.icon-hourglass-3:before { content: '\f253'; } /* '' */
.icon-hourglass:before { content: '\f254'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */