{% extends 'core/base.html' %}

<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Genesis</title>
	{% include 'core/includes/css_general.html'%}
</head>
<body>
	
	<!-- Usar la CDN requiere acceso a Internet -->
	<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->


	<!--  LOGO, MENU Y BUSQUEDA -->



	<main>
		<div class="container-fluid">
			<!--  HEADER -->
			<header class="row fixed-top">
				<!-- LOGO -->
				<div class="col-auto d-none d-md-block logo">
					<img src="{% static 'core/img/logo1.png' %}" alt="">
				</div>
				<!-- HEADER -->
				<div class="col-none col-md-1"></div>
				<div class="col header-busqueda">
					<div class="row ">
						<div class="col-12 col-md-7 busqueda order-2">
							<form action="">
								<div class="row no-gutters">
									<div class="col-10 text-busqueda">
										<input type="text" placeholder="nombre del proyecto">
									</div>
									<div class="col-2">
										<button><i class="icon-search"></i></button>
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-5 col-12 text-lg-center menu order-md-2">
							{% if not request.user.is_authenticated %}
								<a href="{% url 'registration:registro' %}"><i class="icon-user-plus"></i><span>Registro</span></a>
								<a href="{% url 'login' %}"><i class="icon-user"></i><span>Login</span></a>
							{% else %}
								<a href="{% url 'registration:profile' %}"><i class="icon-user-plus"></i><span>Perfil</span></a>
								<a href="{% url 'logout' %}"><i class="icon-user"></i><span>Logout</span></a>
							{% endif %}
						</div>
					</div>
				</div>
			</header>
			<!-- PRESENTACION -->
			<div class="row">
				<div class="col pagina-inicio p-0">
					<img src="{% static 'core/img/PaginaInicio1.png' %}" alt="">
				</div>
			</div>
			<!-- MENSAJE 1 -->
			<div class="row mensaje">
				<div class="col primer-mensaje">
					<div class="row">
						<div class="col-lg-7 primer-izquierda d-flex align-items-center justify-content-center">
							<img class="d-none d-lg-block" src="{% static 'core/img/mensaje1.png' %}" alt="">		
						</div>
						<div class="col-12 col-lg-5  primer-derecha ">
							<div class="row d-flex align-items-center justify-content-center">
								<div class="col primer-titulo">
									<span class="texto-primer-titulo">Simplifique sus disenos</span>
								</div>
							</div>
							<div class="row d-flex align-items-center justify-content-center">
								<div class="col d-none d-lg-block ">
									<p class="texto-primer-mensaje">Solo ingrese datos conceptuales, como ser objetos, sus propiedades y sus reglas y genere toda la aplicacion de forma automatica.</p>
								</div>
							</div>
							<div class="row ">
								<div class="col-12 primer-boton">
									<a class="btn btn-primary btn-block btn-lg" href="">Construir un Proyecto</a>
									<!-- <button type="button" class="btn btn-primary">Construir un Proyecto</button> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row mensaje">
				<div class="col segundo-mensaje">
					<div class="row">
						<div class="col-12 col-lg-6 segundo-derecha ">
							<div class="row  d-flex align-items-center justify-content-center">
								<div class="col segundo-titulo">
									<span class="texto-segundo-titulo">Optimice sus recursos</span>
								</div>
							</div>
							<div class="row d-flex align-items-center justify-content-center">
								<div class="col d-none d-lg-block">
									<p class="texto-segundo-mensaje">Utilice de forma mucho mas eficiente sus recursos economicos, humanos y convierta a su empresa en una organizacion altamente productiva.</p>
								</div>
							</div>
						</div>
						<div class="col-6 segundo-izquierda d-flex align-items-center justify-content-center">
							<img class="d-none d-lg-block" src="{% static 'core/img/mensaje2(1).png' %}" alt="">		
						</div>
					</div>
				</div>
			</div>

			<div class="row imagen mensaje d-none d-lg-block">
				<div class="col tercer-mensaje">
					<img class="tercero-imagen-fondo" src="{% static 'core/img/trabajoequipo.jpg' %}" alt="" >
					<div class="row fila" >
						<div class="col tercero-derecha ">
							<div class="row">
								<div class="col-4 tercero-titulo">
									<span class="texto-tercero-titulo">Fortalezca sus equipos de trabajo</span>
								</div>
							</div>
							<div class="row  d-flex align-items-center ">
								<div class="col-8">
									<p class="texto-tercero-mensaje">Utilice de forma mucho mas eficiente sus recursos economicos, humanos y convierta a su empresa en una organizacion altamente productiva.</p>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>

<!-- 			<div class="row ">
				<div class="col">
					<img src="{% static 'core/img/logo1.png' %}" alt="" style="width: 100%;height: 100%">		
					<div class="row centrado" style="height: 100px; width: 100%">
						<div class="col border"></div>
						<div class="col border"></div>
					</div>
				<div class="texto-encima">Texto</div>
  				<div class="centrado">Centrado</div>
				</div>
			</div>


<div class="contenedor">
  <img src="{% static 'core/img/logo1.png' %}" />
  <div class="texto-encima">Texto</div>
  <div class="centrado">Centrado</div>
</div>

<div id="imagen">
	<img src="http://www.lawebdelprogramador.com/codigo/jquery.preview1/jquery.preview_1.jpg" width="500" height="375">
	<div>Texto que aparece en la parte inferior de la imagen</div>
</div> -->




		</div>
	</main>

<!-- 	<style>
		.columna{background-color: #2191fb;color:#fff;padding: 20px;margin-bottom: 20px;}
	</style>
<div class="container">
		<div class="row ">
			<div class="col columna d-block d-sm-none">XS Extra Small</div>
			<div class="col columna d-none d-sm-block d-md-none">SM Small</div>
			<div class="col columna d-none d-md-block d-lg-none">MD Medium</div>
			<div class="col columna d-none d-lg-block d-xl-none">LG Large</div>
			<div class="col columna d-none d-xl-block">XL Extra Large</div>
		</div>
	</div>
 -->
	{% include 'core/includes/js_general.html'%}
</body>
</html>