{% extends 'core/base.html' %}

{% block cuerpo %}
{% load static %}
<style>
  .mensaje_error{
  font-size: 18pt;
  color:red;
  font-weight: 600;
}

  </style>
  <div class="container registro">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-10 externa border ">
        <div class="row fila-color-uno"></div>
        <div class="row fila-color-dos"></div>
        <div class="row fila-datos">
          <div class="col datos-registration border">
            <div class="row">
              <div class="col">
              	{% if error_texto != '' %}
                	<h3>Mensaje de Error</h3>
                {% else %}
                  {{mensaje}}
                	El proyecto &nbsp; {{proyecto.nombre}} &nbsp; fue creado correctamente. <a class="btn btn-sm btn-outline-primary" href="{% url 'proyectos:arbol' %}?proyecto_id={{ proyecto.id }}">Ir al proyecto</a>
                  }
                {% endif %}
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <span class="mensaje_error" >{{error_texto}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}