{% extends 'core/base.html' %}

{% block cuerpo %}

<style type="text/css">
    /*body {background-color: #e0e0e0;}*/
</style>
{% load static %}

<style>.errorlist{color:red;}</style>
{% if error == '' %}
  <div class="container registro" >
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-10 externa border ">
        <div class="row fila-color-uno"></div>
        <div class="row fila-color-dos"></div>
        <div class="row fila-datos">
          <div class="col datos-registration border">
            <h3>Registro de Seccion</h3>
            <form class="mt-3" action="" method="post" enctype="multipart/form-data">{% csrf_token %}

              {% include 'core/includes/formulario_seccionp.html'%}

            <!-- Generales -->

              <!-- {{form.as_p}} -->
              <input type="submit" class="btn btn-primary btn-block mt-5" value="Confirmar">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
    {% include 'core/includes/pagina_error.html'%}
{% endif %}
{% endblock %}