{% extends 'core/base@proyecto.html' %}
{% block menu %}
<!-- #@[p_change_done_01] -->
  {% include 'core/includes/menu_core.html'%}
<!-- #@[p_change_done_02] -->
{% endblock %}
{% block cuerpo %}
<!-- #@[p_change_done_03] -->
{% load static %}
<main role="main">
<!-- #@[p_change_done_04] -->
  <div class="container">
    <div class="row mt-3">
<!-- #@[p_change_done_05] -->
      <div class="col-md-9 mx-auto mb-5">
<!-- #@[p_change_done_06] -->
        <h3 class="mb-4">Contraseña cambiada correctamente</h3>
<!-- #@[p_change_done_07] -->
        <p>Puedes volver a tu perfil haciendo clic <a href="{% url 'profile' %}">aquí</a>.</p>
<!-- #@[p_change_done_08] -->
      </div>
<!-- #@[p_change_done_09] -->
    </div>
<!-- #@[p_change_done_10] -->
  </div>
<!-- #@[p_change_done_11] -->
</main>
<!-- #@[p_change_done_12] -->
{% endblock %}

<!-- #@[p_change_done_13] -->
 
