{% extends 'core/base@proyecto.html' %}
{% block menu %}
<!-- #@[p_change_form_01] -->
  {% include 'core/includes/menu_core.html'%}
<!-- #@[p_change_form_01] -->
{% endblock %}
{% block cuerpo %}
<!-- #@[p_change_form_02] -->
{% load static %}
<style>.errorlist{color:red;}</style>
<!-- #@[p_change_form_03] -->
<main role="main">
<!-- #@[p_change_form_04] -->
  <div class="container">
    <div class="row mt-3">
<!-- #@[p_change_form_05] -->
      <div class="col-md-9 mx-auto mb-5">
<!-- #@[p_change_form_06] -->
        <form action="" method="post">{% csrf_token %}
<!-- #@[p_change_form_07] -->
            <h3 class="mb-4">Cambio de contraseña</h3>
<!-- #@[p_change_form_08] -->
            <p>Por favor, introduzca su contraseña antigua por seguridad, y después introduzca dos veces la nueva contraseña para verificar que la ha escrito correctamente.</p>
<!-- #@[p_change_form_09] -->
            {{form.old_password.errors}}
<!-- #@[p_change_form_10] -->
            <p>
<!-- #@[p_change_form_1] -->
              <input type="password" name="old_password" autofocus="" required="" id="id_old_password"class="form-control" placeholder="Contraseña antigua">
<!-- #@[p_change_form_12] -->
            </p>
<!-- #@[p_change_form_13] -->
            {{form.new_password1.errors}}
<!-- #@[p_change_form_14] -->
            <p>
<!-- #@[p_change_form_15] -->
              <input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Contraseña nueva">
<!-- #@[p_change_form_16] -->
            </p>
<!-- #@[p_change_form_17] -->
            {{form.new_password2.errors}}
<!-- #@[p_change_form_18] -->
            <p>
<!-- #@[p_change_form_19] -->
              <input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Contraseña nueva (confirmación)">
<!-- #@[p_change_form_20] -->
            </p>
<!-- #@[p_change_form_21] -->
            <p>
<!-- #@[p_change_form_22] -->
              <input type="submit" class="btn btn-primary btn-block" value="Cambiar mi contraseña">
<!-- #@[p_change_form_23] -->
            </p>
<!-- #@[p_change_form_24] -->
        </form>
<!-- #@[p_change_form_25] -->
      </div>
<!-- #@[p_change_form_26] -->
    </div>
<!-- #@[p_change_form_27] -->
  </div>
<!-- #@[p_change_form_28] -->
</main>
<!-- #@[p_change_form_29] -->
{% endblock %}
<!-- #@[p_change_form_30] -->
 
