{% extends 'core/base@proyecto.html' %}
{% block menu %}
<!-- #@[p_reset_complete_01] -->
  {% include 'core/includes/menu_core.html'%}
<!-- #@[p_reset_complete_02] -->
{% endblock %}
<!-- #@[p_reset_complete_03] -->
{% block cuerpo %}
{% load static %}
<!-- #@[p_reset_complete_04] -->
<main role="main">
<!-- #@[p_reset_complete_05] -->
  <div class="container">
    <div class="row mt-3">
<!-- #@[p_reset_complete_06] -->
      <div class="col-md-9 mx-auto mb-5">
<!-- #@[p_reset_complete_07] -->
        <h3 class="mb-4">Restablecimiento de contraseña completado  </h3>
<!-- #@[p_reset_complete_08] -->
        <p>
<!-- #@[p_reset_complete_09] -->
          Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.
<!-- #@[p_reset_complete_10] -->
        </p>
<!-- #@[p_reset_complete_11] -->
        <p><a href="{% url 'login' %}">Iniciar sesión</a></p>
<!-- #@[p_reset_complete_12] -->
      </div>
<!-- #@[p_reset_complete_13] -->
    </div>
<!-- #@[p_reset_complete_14] -->
  </div>
<!-- #@[p_reset_complete_15] -->
</main>
<!-- #@[p_reset_complete_16] -->
{% endblock %}
<!-- #@[p_reset_complete_17] -->
 
