{% extends 'core/base.html' %}
{% load static %}
{% block cuerpo %}

{% if error == '' %}
<div class="container lista-personalizacion">
	<div class="row mb-3">
		<div class="col font_texto_personaliza">
			<h3>Lista de Proyectos del Modelo&nbsp;&nbsp;<a href="{% url 'proyectos:lista' %}?criterio={{criterio}}&duplica=0" data-toggle="tooltip" data-placement="top" title="Volver"><span style="color:green;font-size: 8pt;">(volver)</span></a></h3>
		</div>
	</div>
	<div class="row fila-columnas-personalizacion">
		<div class="col-2  font_texto_personaliza">
			<b>Nombre</b>
		</div>
		<div class="col-8  font_texto_personaliza">
			<b>Texto</b>
		</div>
	</div>
	{% for texto in lista_json %}
		<div class="row font_lista mt-2 fila-datos-personalizacion border-bottom">
			<div class="col-2">
				{{texto.nombre}}
			</div>
			<div class="col-8 font_texto_personaliza">
				<a data-toggle="collapse" href="#demo_{{texto.id}}">Expandir Texto</a>
				<!-- <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Texto</button> -->
				<div id="demo_{{texto.id}}" class="collapse">
					{{texto.texto}}
				</div>			
			</div>
			<div class="col-1 font_texto_personaliza">
				<a href="{% url 'modelos:reporte' %}?criterio=&json={{texto.texto}}&id={{texto.id}}&proyecto_id={{proyecto.id}}&modelo_id={{texto.modeloid}}" style="color:blue;">editar</a>
            </div>
			<div class="col-1 font_texto_personaliza">
				<a href="{% url 'modelos:borrar_reporte_json' texto.id %}?criterio={{criterio}}&modelo_id={{texto.modeloid}}" style="color:blue;">borrar</a>
			</div>
		</div>
	{% endfor %}
		<div class="row mb-5"></div>
      <div class="row fila-nuevo-pais mt-3 mb-3">
        <div class="col">
          <a class="btn btn-block btn-primary" href="{% url 'modelos:reporte' %}?id=0&proyecto_id={{proyecto.id}}&modelo_id={{modelo.id}}&mensaje_error=&reporte=0&json={{json}}">Nuevo proyecto</a>
        </div>
      </div>		
</div>
<!-- 	<div class="container mt-5">
		<div class="row ml-1">
			<a class=" font_link_nuevo_cuenta" href="{% url 'personalizacion:crear' %}?aplicacion_id={{aplicacion.id}}">Nuevo tag de Personalizacion</a>
		</div> -->
	</div>	<!--  -->

{% else %}
toy aqui
    {% include 'core/includes/pagina_error.html'%}
{% endif %}
{% endblock %}

