{% extends 'core/@base.html' %}

{% block menu %}
<!-- #@[p_home_01] -->
	{% include 'core/includes/menu_core.html'%}
<!-- #@[p_home_02] -->
{% endblock %}

{% block menuseguridad %}
<!-- #@[p_home_01a] -->
	{% include 'core/includes/menu_seguridad.html'%}
<!-- #@[p_home_02a] -->
{% endblock %}

{% block cuerpo %}

<!-- #@[p_home_03] -->
  {% load static %}

  <!-- Personalizar pagina inicial -->
<!-- #@[p_home_04] -->
	@imagenmedio
<!-- #@[p_home_05] -->
	
{% endblock %}
<!-- #@[p_home_06] -->
 
