<!-- #@[p_opcion_modelo_01] -->

					<li class="nav-item">
          				<a id="opcionmenu_@aplicacion" class="nav-link active opcionmenu_@aplicacion" aria-current="page" href="{% url '@aplicacion:listar_@modelo' %}"><img src="{% static 'core/img/@avatar' %}" @hidden width="20px" height="20px" alt="" data-toggle="tooltip" title="@tooltip">@opcionmodelo</a>
        			</li>

<!-- 						<a href="{% url '@aplicacion:listar_@modelo' %}">
							<img src="{% static 'core/img/@avatar' %}" @hidden width="20px" height="20px" alt="" data-toggle="tooltip" title="@tooltip">
							<span id="opcionmenu" class="opcionmenu" data-toggle="tooltip" title="@tooltip">@opcionmodelo</span>
						</a> -->
<!-- #@[p_opcion_modelo_02] -->
 
