{% extends 'core/base.html' %}

{% block cuerpo %}
{% load static %}

<style>.errorlist{color:red;}</style>

  <div class="container password-reset">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-8 externa border ">
        <div class="row fila-color-uno"></div>
        <div class="row fila-color-dos"></div>
        <div class="row fila-datos">
          <div class="col datos-registration border">
            <form action="" method="post">{% csrf_token %}
              <h3 class="mb-4">Restablecer contraseña&nbsp;&nbsp;<a href="{% url 'core:home' %}?proyecto_id={{proyecto.id}}" data-toggle="tooltip" data-placement="top" title="Volver al arbol"><span style="font-size: 10pt;">(Volver)</span></a></h3>
              <p>¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</p>
              {{ form.email.errors }}
              <p><input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Introduce tu email"/></p>
              <p><input type="submit" class="btn btn-primary btn-block" value="Confirmar"></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}