{% extends 'core/base.html' %}

{% block cuerpo %}
{% load static %}

  <div class="container password-reset">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-10 externa border ">
        <div class="row fila-color-uno"></div>
        <div class="row fila-color-dos"></div>
        <div class="row fila-datos">
          <div class="col datos-registration border">
            <h3 class="mb-4">Restablecimiento de contraseña completado&nbsp;&nbsp;<a href="{% url 'core:home' %}?proyecto_id={{proyecto.id}}" data-toggle="tooltip" data-placement="top" title="Volver al arbol"><span style="font-size: 10pt;">(Volver)</span></a></h3>
	        <!-- <h3 class="mb-4">Restablecimiento de contraseña completado  </h3> -->
	        <p>Su nueva contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
	        <p><a href="{% url 'login' %}">Iniciar sesión</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

