{% extends 'core/base.html' %}

{% block cuerpo %}

{% load static %}

  <div class="container password-reset">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-8 externa border ">
        <div class="row fila-color-uno"></div>
        <div class="row fila-color-dos"></div>
        <div class="row fila-datos">
          <div class="col datos-registration border">
             <h3 class="mb-4">Restablecimiento de contraseña enviado&nbsp;&nbsp;<a href="{% url 'core:home' %}?proyecto_id={{proyecto.id}}" data-toggle="tooltip" data-placement="top" title="Volver al arbol"><span style="font-size: 10pt;">(Volver)</span></a></h3>
  	        <!-- <h3 class="mb-4">Restablecimiento de contraseña enviado</h3> -->
  	        <p>Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</p>
  	        <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
